/*In this CSS, we have split up sections for different pages to make it easier to find the code we want*/

/*MASTER*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: black;
    background-color: dodgerblue;
}

.rightLogin{
    float:right;
}

/*MASTER------------------------------------------------*/

/*STATEMENT*/

.statementLeft{
    float:left;
    width:33%;
}

.statementRight{
    float:right;
    width:33%;
}

.rightButton{
    float:right;
}

.statementMiddle{
    display:inline-block;
    width:33%;
}

#statementSummary{
    border: 1px solid #ff0000;
    text-align:center;
}

#key{
    text-align:center;
}

.infoButton{
    border-radius:100%;
}

#searchStatement{
    color:#ffffff;
    background-color:cornflowerblue;
    font-size:20px;
}

#search{
    border:1px solid #ffffff;
    font-size:15px;
}

#statementMain{
    border: 1px solid #1f10be;
}

table{
    width:100%;
}

th{
    border: 1px solid #000000;
    background-color: antiquewhite ;
    font-size:30px;
}

td{
    text-align:center;
    background-color: aqua;
    font-size:20px;
    border: 1px solid #000000;
}

/*STATEMENT---------------------------------------------*/


/*Registration Page_______________________________________________________________*/


li a.active2 {
    color: black;
    background-color: lightblue;
}

.text1{
    font-size: 25px;
    color:black;
    font-weight: 600;
}
.text2{
    font-size: 20px;
    color:black;
    font-weight:500;
}
.boxes{
    float:right;
    margin-right:72%;  
}

#pos{
    margin-left:28%;
}

#tickPos{
    margin-left:4%;
}
#btn{
    margin-left:10%;
}


/*Registration Page_______________________________________________________________*/

